<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Adding Insurance Type</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="col-auto border">
        <table class="table table-striped p-4">
            <tbody>
                <tr>
                    <th class="border" scope="row">Insurance Type</th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Image</th>
                    <td><input type="file"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Status</th>
                    <td class=""> <select name="Status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select></td>
                </tr>
            </tbody>


        </table>
        <button class="btn btn-danger">Submit</button>

    </div>
</div>


<!-- <div class="col-6 bg-light">
        <div class="row">
            <div class="col-4">
                Insurance Type
            </div>
            <div class="col">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">
                Image
            </div>
            <div class="col">
                <input type="file">
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">
                Status
            </div>
            <div class="col">

                <select name="Status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>

</div> -->