<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Profile</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="container">
        <form >
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="border" scope="row">Account No.</th>
                        <td><input readonly type="text" class="form-control" formControlName="insurancetype">
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Name</th>
                        <td><input readonly type="text" class="form-control" >
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Email</th>
                        <td><input readonly type="text" class="form-control" >
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Log in  Id</th>
                        <td><input readonly type="text" class="form-control" >
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Password</th>
                        <td><input readonly type="text" class="form-control" >
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Status</th>
                        <td><input readonly type="text" class="form-control" >
                            
                        </td>

                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
 
