<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Agent Records</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Agent Name </th>
            <th scope="col">Agent Code</th>            
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Qualification</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Suyash</td>
            <td scope="row">AI110</td>
            <td scope="row">Nashik Maharasrta</td>
            <td scope="row">suyash12@gmail.com</td>
            <td scope="row">MCA</td>
            <td>Active</td>                       
            <td ><a href="" style="color:red">Edit</a>| <a href="" style="color:red">delete</a></td>
          </tr>        
          
        </tbody>
      </table>
</div>
