<div class="container-fluid m-0 p-0">
    <section style="background-color: #eee;">
        <div class="text-center container py-5">
            <h4 class="mt-4 mb-5"><strong>Our Services</strong></h4>
        </div>
    </section>
</div>
<div class="container">
    <div class="row col-md-12">

        <div class="col-md-3 bg-light ">
            <div class="row">
                <div class="col-sm-1"> <img src="assets/agent.jpg" alt="" width="40"></div>
                <!-- <div class="col-md-2"> <img src="assets/agent.jpg" alt=""></div> -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 bg-dark">hello</div>
        <div class="col-md-1"></div>
        <div class="col-md-3 bg-dark">hello</div>
    </div>

</div>