

<div class="container mt-4 p-0">   
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <div class="card" >
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/agent.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Agent</p>
                            <p>Count </p>
                    </a>
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" >
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/agent.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Book Gas Cylinder<p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="assets/customer.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Pay Electricity Bill <p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" >
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/employee.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Recharge DTH Connection<p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

