<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Contact Details </h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="col-auto border">
        <form>
            <table class="table table-striped p-4">



                <tbody>
                    <tr>
                        <th class="border" scope="row">Title</th>
                        <td><input type="text" class="form-control" placeholder="Query">

                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Message</th>
                        <td class=""> <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                placeholder="Write something here..." formControlName='note'></textarea>

                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Contact Date</th>

                        <td><input type="date" class="form-control" placeholder="Query">

                        </td>


                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Reply</th>
                        <td class=""> <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                placeholder="Write something here..." formControlName='note'></textarea>

                        </td>

                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>